<h1>Szczegóły Wyborów</h1>

<p>
  <strong>Typ Wyborów:</strong>
  <%= @wybory.id_typu_wyborow %>
</p>
<p>
  <strong>Data Rozpoczęcia:</strong>
  <%= @wybory.data_rozpoczecia %>
</p>
<p>
  <strong>Data Zakończenia:</strong>
  <%= @wybory.data_zakonczenia %>
</p>
<p>
  <strong>Kryteria Głosowania:</strong>
  <%= @wybory.kryteria_glosowania %>
</p>

<%= link_to 'Edytuj', edit_wybory_path(@wybory) %> |
<%= link_to 'Wróć', wybories_path %>
