<!DOCTYPE html>
<html>
<head>
  <title>Wyniki Wyborów</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/5hb7O91p1QdNpC0XTy5EV6lgrBjuGB4fbu71/0" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-4">
    <h1 class="mb-4">Wyniki Zakończonych Wyborów</h1>
    <% @zakonczone_wybory.each do |wybory| %>
      <div class="card mb-4">
        <div class="card-header">
          <h2><%= wybory.tytul %></h2>
          <p>Data zakończenia: <%= wybory.data_zakonczenia.strftime('%d-%m-%Y') %></p>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Ilość Głosów</th>
              </tr>
            </thead>
            <tbody>
              <% wybory.kandydats.order(ilosc_glosow: :desc).each do |kandydat| %>
                <tr>
                  <td><%= kandydat.imie %></td>
                  <td><%= kandydat.nazwisko %></td>
                  <td><%= kandydat.ilosc_glosow %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa5s3be2ee1ihb5C5wtgllFDr" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+r+MXC5pRQ1D1Vaz5T2eGiNX6tGmDz3Xr1Nx2DuR3mP9zdB" crossorigin="anonymous"></script>
</body>
</html>
