<h1>Lista Wyborców</h1>
<table>
  <thead>
    <tr>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Numer Telefonu</th>
      <th>Email</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    <% @wyborcy.each do |wyborca| %>
      <tr>
        <td><%= wyborca.imie %></td>
        <td><%= wyborca.nazwisko %></td>
        <td><%= wyborca.numer_tel %></td>
        <td><%= wyborca.email %></td>
        <td>
          <%= link_to 'Pokaż', wyborca %>
          <%= link_to 'Edytuj', edit_wyborca_path(wyborca) %>
          <%= link_to 'Usuń', wyborca, method: :delete, data: { confirm: 'Czy na pewno?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Dodaj nowego wyborcę', new_wyborca_path %>
