
<h1>Szczegóły kandydata</h1>

<p><strong>Imię:</strong> <%= @kandydat.imie %></p>
<p><strong>Nazwisko:</strong> <%= @kandydat.nazwisko %></p>
<p><strong>Rok urodzenia:</strong> <%= @kandydat.rok_urodzenia %></p>
<p><strong>Partia:</strong> <%= @kandydat.partia_id %></p>


<%= link_to 'Wróć do listy kandydatów', kandydats_path %>
